<div class="profile-header">
    Смена пароля
</div>
<div class="profile-form__container">
    <form  method="POST" class="profile-form" name="changePassword" ng-submit="pc.changePassword()" novalidate>
        <div class="form-container clearfix">
            <label class="profile-form__label" for="oldPassword">Старый пароль</label>
            <input type="password"
                   ng-class="pc.validate(changePassword.oldPassword)"
                   class="profile-form__input"
                   id="oldPassword"
                   placeholder="Пароль"
                   ng-model="pc.changePassForm.oldPassword"
                   name="oldPassword">
        </div>
        <div class="form-container clearfix">
            <label class="profile-form__label" for="newPassword">Новый пароль</label>
            <input type="password"
                   ng-class="pc.validate(changePassword.newPassword)"
                   class="profile-form__input"
                   id="newPassword"
                   placeholder="Пароль"
                   ng-model="pc.changePassForm.newPassword"
                   name="newPassword">
        </div>
        <div class="form__buttons">
            <button class="button" ng-disabled="$valid">Сохранить изменения</button>
        </div>
    </form>
</div>